@model Carware.ViewModels.InventoryViewModel
<div id="inventoryContainer">

    @foreach (var car in Model.Inventory)
    {
        <div class="card overflow-hidden d-inline-block" style="width: 20rem;">
            <div id="carouselExampleIndicators@(car.Id)" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < car.PhotoString.Count; i++)
                    {
                        <li data-target="#carouselExampleIndicators@(car.Id)" data-slide-to="@i" class=""></li>
                    }
                </ol>

                <div class="carousel-inner">
                    @foreach (var photo in car.PhotoString)
                    {
                        <div class="carousel-item picContainer">
                            <img class="d-block w-100 pic" src="data:image/png;base64,@(photo)" alt="Slide">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators@(car.Id)" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators@(car.Id)" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="card-body mb-0 pb-0">
                <h2 class="card-title h4 font-weight-bold">@car.Year @car.Make @car.Model</h2><br />
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-left mt-0 pt-1">
                    <i class="fas fa-tachometer-alt"> </i>
                    <span class="num"> @car.Mileage</span>
                </li>
                <li class="list-group-item text-right num">$@car.IdealSellingPrice</li>
            </ul>
            <div class="card-body text-center h4"><a class="card-link" asp-action="Sell" asp-route-id="@car.Id">Start Sale</a></div>
        </div>

    }
</div>
@section Scripts{
    <script>
        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }
        $(document).ready(function () {
            console.log("edsfds");
            $(".carousel-indicators").each(function () {
                $(this).children(":first").addClass("active");
            });
            $(".carousel-inner").each(function () {
                $(this).children(":first").addClass("active");
            });
            $(".num").digits();
        })
    </script>

}